<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EFTPOSAddress" value="192.168.0.0"/>
		<add key="POSId" value="ConsolePOS"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<!--<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="IntegrationServiceSoap" sendTimeout="00:05:00" />
			</basicHttpBinding>
			
		</bindings>
		<client>
			<endpoint address="http://localhost:58030/IntegrationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap"
                contract="MIS.IntegrationServiceSoap" name="IntegrationServiceSoap" />
		</client>
	</system.serviceModel>-->


	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="IntegrationServiceSoap" sendTimeout="00:05:00" />
			</basicHttpBinding>
			<customBinding>
				<binding name="IntegrationServiceSoap12" sendTimeout="00:05:00">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:58030/IntegrationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationServiceSoap"
                contract="MIS.IntegrationServiceSoap" name="IntegrationServiceSoap" />
			<endpoint address="http://localhost:58030/IntegrationService.asmx"
                binding="customBinding" bindingConfiguration="IntegrationServiceSoap12"
                contract="MIS.IntegrationServiceSoap" name="IntegrationServiceSoap12" />
		</client>
	</system.serviceModel>
	
</configuration>